<section class="main">
	 <nav>
		<a routerLink="/text-input" routerLinkActive="active">Text Input</a>
		<a routerLink="/radio-button" routerLinkActive="active">Radio Button</a>
		<a routerLink="/question-text" routerLinkActive="active">Question Text</a>
		<a routerLink="/phone-number" routerLinkActive="active">Phone Number</a>
		<a routerLink="/number-slider" routerLinkActive="active">Number Slider</a>
		<a routerLink="/number-input" routerLinkActive="active">Number Input</a>
		<a routerLink="/date-of-birth" routerLinkActive="active">Date of Birth</a>
		<a routerLink="/email-input" routerLinkActive="active">Email Input</a>
		<a routerLink="/dropdown" routerLinkActive="active">Dropdown</a>
		<a routerLink="/autocomplete" routerLinkActive="active">Autocomplete</a>
	</nav>
	<router-outlet></router-outlet>
</section>