<timeline-item 
  *ngIf="question.timeline && !hidden" 
  [question]="question"
  [control]="control"
  [delay]="800 + (index * 200)"
  (onClick)="handleTimelineEvent($event)"
  [pristine]="control.pristine">
</timeline-item>
<div class="df-question-container" *ngIf="!hidden" [formGroup]="form">
  <label *ngIf="question.label" [attr.for]="question.key">{{question.label}}</label>
    
    <!-- Dynamic Form -->
    <mf-dynamic-form 
      *ngIf="question.controlType === 'group'"
      [class.alignment-half]="question.alignment === 'half'"
      [class.alignment-none]="question.alignment === 'none'"
      [section]="section"
      saveToSection="true"
      class="subForm"
      [questions]="question.fields">
    </mf-dynamic-form>

    <!-- Default Text Input -->
    <span *ngIf="question.controlType === 'textbox'" class="df-question__icon-holder" [inputIcon]="control" >
      <input 
        #input
        class="df-question__input-text df-question"
        [formControlName]="question.key" 
        [attr.aria-label]="question.label"
        [attr.aria-labelledby]="question.key"
        [attr.aria-disabled]="control.disabled"
        [attr.aria-required]="question.required"
        [attr.aria-invalid]="ariaInvalid"
        [attr.autocapitalize]="question.autocapitalize"
        [attr.autocomplete]="question.autocomplete"
        [attr.autocorrect]="question.autocorrect"
        [placeholder]="question.placeholder"
        [id]="question.key" 
        [type]="question.type">
    </span>

    <!-- Currency Input -->
    <span [inputIcon]="control"  class=" df-question__icon-holderdf-question__input-currency df-question"  *ngIf="question.controlType === 'currency'">
      <input 
        #input
        class="df-question__input-text"
        [formControlName]="question.key" 
        [attr.aria-label]="question.label"
        [attr.aria-labelledby]="question.key"
        [attr.aria-disabled]="control.disabled"
        [attr.aria-required]="question.required"
        [attr.aria-invalid]="ariaInvalid"
        [placeholder]="question.placeholder"
        [id]="question.key" 
        type="number">
    </span>
    
    <!-- Counter Input -->
    <df-counter
      #input
      *ngIf="question.controlType === 'counter'" 
      class="df-question"
      [formControl]="control"
      [isDisabled]="control.disabled"
      [attr.aria-label]="question.label"
      [attr.aria-labelledby]="question.key"
      [min]="question.min"
      [max]="question.max"
      [id]="question.key">
    </df-counter>


    <df-checkbox
      *ngIf="question.controlType === 'checkbox'"
      class="df-question"
      [id]="question.key"
      [formControl]="control">
      {{question.name}}
    </df-checkbox>


    <!-- Date Input -->
    <df-date
        *ngIf="question.controlType === 'date'"
        class="df-question"
        [formControl]="control"
        [isDisabled]="control.disabled"
        [attr.aria-label]="question.label"
        [attr.aria-labelledby]="question.key"
        [id]="question.key">
    </df-date>
    <article
      *ngIf="question.controlType === 'questionText'"
      class="df-question df-question__question-text">
        <p [innerHTML]="question.content" ></p>
    </article>

    <!-- Dropdown Input -->
    <df-dropdown
      *ngIf="question.controlType === 'dropdown'"
      [placeholder]="question.placeholder"
      [formControl]="control"
      [id]="question.key"
      [isDisabled]="control.disabled"
      [required]="question.required"
      [attr.aria-label]="question.label"
      [attr.aria-labelledby]="question.key"
      class="df-question">
        <df-option 
          *ngFor="let option of question.options"
          [value]="option">
          {{option}}
        </df-option>
    </df-dropdown>

    <!-- Autocomplete Input -->
    <df-autocomplete
       *ngIf="question.controlType === 'autocomplete'"
       class="df-question"
       [placeholder]="question.placeholder"
       [type]="question.type"
       [id]="question.key"
       [ariaLabel]="question.label"
       [ariaLabelledby]="question.key"
       [link]="question.link"
       [items]="question.options"
       [isDisabled]="control.disabled"
       [required]="question.required"
       [serviceUrl]="question.serviceUrl"
       [formControl]="control">
    </df-autocomplete>

    <!-- Radio Input -->
    <df-radio-group
      *ngIf="question.controlType === 'radio'"
      [formControl]="control"
      [isDisabled]="control.disabled"
      [alignment]="question.alignment"
      [attr.aria-label]="question.label"
      [id]="question.key"
      [attr.aria-labelledby]="question.key"
      class="o-flex o-flex--distribute df-question">
      <df-radio
        *ngFor="let option of question.options" [value]="option.value">
          {{option.text}}
      </df-radio>
    </df-radio-group>

    <!-- Slider Input -->
    <df-slider
      *ngIf="question.controlType === 'slider'"
      class="df-question"
      [formControl]="control"
      [isDisabled]="control.disabled"
      [required]="question.required"
      [attr.aria-label]="question.label"
      [attr.aria-labelledby]="question.key"
      [min]="question.min"
      [max]="question.max"
      [steps]="question.steps"
      [values]="question.values">
    </df-slider>
    <df-dynamic-form-error *ngIf="!hidden" [control]="control"></df-dynamic-form-error>
</div>