@import "./../../../../styles/settings/colours";
@import "./../../../../styles/settings/globals";
@import "./../../../../styles/settings/typography";
@import './../../../../styles/tools/functions';
@import './../../../../styles/tools/typography';
@import "./../../../../styles/objects/flex";
:host,
.df-question {
	@include o-flex;
	position: relative;
	flex-wrap: nowrap;
	float: left;
	width: 100%;
	&__question-text p {
		@include font-size(tiny);
		line-height: 1.25rem;
	}
	&__input-text {}
	df-timeline-item {}
	.df-question-container {
		position: relative;
		flex: 1 1 auto;
		margin-left: 48px;
		padding: 0 size(medium);
	}
	df-timeline-item+.df-question-container {
		margin-left: 0
	}
}


.df-question__input-text {
	&.ng-valid.ng-touched {
		border-color: $color-primary;
	}
}