@import "./../../../../styles/settings/colours";
@import "./../../../../styles/settings/globals";
@import "./../../../../styles/settings/responsive";
@import './../../../../styles/tools/functions';
@import "./../../../../styles/tools/responsive";
:host,
df-date {
	width: 100%;
	float: left;
	&.ng-invalid.ng-dirty.ng-touched {
		input.ng-valid {
			border-color: $color-red-warning;
		}
	}
	&>div {
		@include display(flex);
		@include flex-flow(row nowrap);
		@include justify-content(row nowrap);
		@include align-items(stretch);
		float: left;
		width: 100%;
	}
	input {
		@include flex(1 1 130px)
		@include mq(upToLarge){
			@include flex(1 1 auto);
			width: 50px;
		}
		margin: 0 size(tiny);
		&:first-child {
			margin-left: 0;
		}
		&.ng-valid.ng-touched {
			border-color: $color-primary;
		}
		&.ng-invalid.ng-touched {
			border-color: $color-red-warning;
		}
	}
	input.df-date-year {
		flex: 2 1 auto;
		margin-right: 0;
	}
}